openapi: 3.0.0
info:
  contact:
    email: support@ixopay.com
  description: IXOPAY Payment Platform
  license:
    name: MIT
  termsOfService: https://www.ixolit.com/en/legal/terms-of-use
  title: IXOPAY Payment Platform
  version: 3.0.0
externalDocs:
  description: IXOPAY Payment Platform Documentation
  url: https://gateway.ixopay.com/documentation/gateway
servers:
- url: https://gateway.ixopay.com/api/v3
security:
- basicAuth: []
- basicAuth: []
  signature: []
tags:
- description: Retrieve a list of options
  externalDocs:
    description: Find out more about the options API
    url: https://gateway.ixopay.com/documentation/apiv3#options-request
  name: options
- description: Set and manage transaction schedules
  externalDocs:
    description: Find out more about the scheduler API
    url: https://gateway.ixopay.com/documentation/gateway#scheduler
  name: schedule
- description: Retrieve the status of transactions
  externalDocs:
    description: Find out more about the status API
    url: https://gateway.ixopay.com/documentation/apiv3#status-request
  name: status
- description: Process transactions
  externalDocs:
    description: Find out more about the transaction API
    url: https://gateway.ixopay.com/documentation/apiv3
  name: transaction
paths:
  /transaction/{apiKey}/prepare-debit:
    post:
      operationId: processPrepareDebit
      parameters:
      - description: API Key of Connector
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrepareDebitRequest'
        description: Data which is required to process a Debit
      responses:
        "200":
          content:
            application/json:
              examples:
                success:
                  value:
                    success: true
                    data:
                      data1: data1
                      data2: data2
                error:
                  value:
                    success: false
                    errorMessage: Given identifier 'someIdentifier' is invalid.
              schema:
                $ref: '#/components/schemas/PrepareDebitResponse'
          description: Prepare Debit response
      summary: Process a prepare Debit
      tags:
      - prepare-transaction
      x-content-type: application/json
      x-accepts: application/json
  /transaction/{apiKey}/debit:
    post:
      operationId: processDebit
      parameters:
      - description: API Key of Connector
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              merchantTransactionId: 2019-09-02-0001
              additionalId1: x0001
              additionalId2: y0001
              extraData:
                someKey: someValue
                otherKey: otherValue
              merchantMetaData: merchantRelevantData
              amount: "9.99"
              currency: EUR
              successUrl: http://example.com/success
              cancelUrl: http://example.com/cancel
              errorUrl: http://example.com/error
              callbackUrl: http://example.com/callback
              transactionToken: ix::tRaNsAcT1OnToK3N
              description: Example Product
              customer:
                identification: c0001
                firstName: John
                lastName: Doe
              threeDSecureData:
                "3dsecure": MANDATORY
              language: en
            schema:
              $ref: '#/components/schemas/Debit'
        description: Data which is required to process a debit
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                finished:
                  value:
                    success: true
                    uuid: abcde12345abcde12345
                    purchaseId: 20190927-abcde12345abcde12345
                    returnType: FINISHED
                    paymentMethod: Creditcard
                redirect:
                  value:
                    success: true
                    uuid: abcde12345abcde12345
                    purchaseId: 20190927-abcde12345abcde12345
                    returnType: REDIRECT
                    redirectUrl: http://redirectComesUrlHere.com
                    redirectQRCode: "data:image/png;base64,ABCDEFGHIJKLMNOPQRSTUVWXYZ"
                    paymentMethod: Creditcard
                processing error:
                  value:
                    success: false
                    uuid: abcde12345abcde12345
                    purchaseId: 20200924-abcde12345abcde12345
                    returnType: ERROR
                    paymentMethod: Dummy
                    errors:
                    - errorMessage: Dummy error
                      errorCode: 1003
                      adapterMessage: Dummy adapter error
                general error, e.g. duplicate:
                  value:
                    success: false
                    errorMessage: The transaction ID '20190823062178' already exists!
                    errorCode: 3004
                general error, e.g. validation:
                  value:
                    success: false
                    errorMessage: "root: 'amount' is required"
                    errorCode: 1002
              schema:
                $ref: '#/components/schemas/MaybeTransactionResponse'
          description: Transaction response
      summary: Process a debit
      tags:
      - transaction
      x-content-type: application/json
      x-accepts: application/json
  /transaction/{apiKey}/prepare-preauthorize:
    post:
      operationId: processPreparePreauthorize
      parameters:
      - description: API Key of Connector
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreparePreauthorizeRequest'
        description: Data which is required to process a Preauthorize
      responses:
        "200":
          content:
            application/json:
              examples:
                success:
                  value:
                    success: true
                    data:
                      data1: data1
                      data2: data2
                error:
                  value:
                    success: false
                    errorMessage: Given identifier 'someIdentifier' is invalid.
              schema:
                $ref: '#/components/schemas/PreparePreauthorizeResponse'
          description: Preauthorize Debit response
      summary: Process a prepare Preauthorize
      tags:
      - prepare-transaction
      x-content-type: application/json
      x-accepts: application/json
  /transaction/{apiKey}/preauthorize:
    post:
      operationId: processPreauthorize
      parameters:
      - description: API Key of Connector
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              merchantTransactionId: 2019-09-02-0002
              extraData:
                someKey: someValue
                otherKey: otherValue
              merchantMetaData: merchantRelevantData
              amount: "9.99"
              currency: EUR
              successUrl: http://example.com/success
              cancelUrl: http://example.com/cancel
              errorUrl: http://example.com/error
              callbackUrl: http://example.com/callback
              description: Example Product
              customer:
                identification: c0001
                firstName: John
                lastName: Doe
              threeDSecureData:
                "3dsecure": MANDATORY
              language: en
            schema:
              $ref: '#/components/schemas/Preauthorize'
        description: Data which is required to process a preauthorize
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                finished:
                  value:
                    success: true
                    uuid: abcde12345abcde12345
                    purchaseId: 20190927-abcde12345abcde12345
                    returnType: FINISHED
                    paymentMethod: Creditcard
                redirect:
                  value:
                    success: true
                    uuid: abcde12345abcde12345
                    purchaseId: 20190927-abcde12345abcde12345
                    returnType: REDIRECT
                    redirectUrl: http://redirectComesUrlHere.com
                    redirectQRCode: "data:image/png;base64,ABCDEFGHIJKLMNOPQRSTUVWXYZ"
                    paymentMethod: Creditcard
                processing error:
                  value:
                    success: false
                    uuid: abcde12345abcde12345
                    purchaseId: 20200924-abcde12345abcde12345
                    returnType: ERROR
                    paymentMethod: Dummy
                    errors:
                    - errorMessage: Dummy error
                      errorCode: 1003
                      adapterMessage: Dummy adapter error
                general error, e.g. duplicate:
                  value:
                    success: false
                    errorMessage: The transaction ID '20190823062178' already exists!
                    errorCode: 3004
                general error, e.g. validation:
                  value:
                    success: false
                    errorMessage: "root: 'amount' is required"
                    errorCode: 1002
              schema:
                $ref: '#/components/schemas/MaybeTransactionResponse'
          description: Transaction response
      summary: "Process a preauthorize: reserves the payment amount on the customer's\
        \ payment instrument"
      tags:
      - transaction
      x-content-type: application/json
      x-accepts: application/json
  /transaction/{apiKey}/incrementalAuthorization:
    post:
      operationId: processIncrementalAuthorization
      parameters:
      - description: API Key of Connector
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              merchantTransactionId: 2019-09-02-0002
              referenceUuid: uuid_of_preauth
              extraData:
                someKey: someValue
                otherKey: otherValue
              merchantMetaData: merchantRelevantData
              amount: "9.99"
              currency: EUR
              successUrl: http://example.com/success
              cancelUrl: http://example.com/cancel
              errorUrl: http://example.com/error
              callbackUrl: http://example.com/callback
              description: Example Product
              language: en
            schema:
              $ref: '#/components/schemas/IncrementalAuthorization'
        description: Data which is required to process a incremental auth
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                finished:
                  value:
                    success: true
                    uuid: abcde12345abcde12345
                    purchaseId: 20190927-abcde12345abcde12345
                    returnType: FINISHED
                    paymentMethod: Creditcard
                redirect:
                  value:
                    success: true
                    uuid: abcde12345abcde12345
                    purchaseId: 20190927-abcde12345abcde12345
                    returnType: REDIRECT
                    redirectUrl: http://redirectComesUrlHere.com
                    redirectQRCode: "data:image/png;base64,ABCDEFGHIJKLMNOPQRSTUVWXYZ"
                    paymentMethod: Creditcard
                processing error:
                  value:
                    success: false
                    uuid: abcde12345abcde12345
                    purchaseId: 20200924-abcde12345abcde12345
                    returnType: ERROR
                    paymentMethod: Dummy
                    errors:
                    - errorMessage: Dummy error
                      errorCode: 1003
                      adapterMessage: Dummy adapter error
                general error, e.g. duplicate:
                  value:
                    success: false
                    errorMessage: The transaction ID '20190823062178' already exists!
                    errorCode: 3004
                general error, e.g. validation:
                  value:
                    success: false
                    errorMessage: "root: 'amount' is required"
                    errorCode: 1002
              schema:
                $ref: '#/components/schemas/MaybeTransactionResponse'
          description: Transaction response
      summary: Increases or prolongs the authorization on a customer's payment instrument
        (made with Preauthorize before)
      tags:
      - transaction
      x-content-type: application/json
      x-accepts: application/json
  /transaction/{apiKey}/capture:
    post:
      operationId: processCapture
      parameters:
      - description: API Key of Connector
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              merchantTransactionId: 2019-09-02-0003
              referenceUuid: bcdef23456bcdef23456
              amount: "9.99"
              currency: EUR
            schema:
              $ref: '#/components/schemas/Capture'
        description: Data which is required to process a capture
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                finished:
                  value:
                    success: true
                    uuid: abcde12345abcde12345
                    purchaseId: 20190927-abcde12345abcde12345
                    returnType: FINISHED
                    paymentMethod: Creditcard
                redirect:
                  value:
                    success: true
                    uuid: abcde12345abcde12345
                    purchaseId: 20190927-abcde12345abcde12345
                    returnType: REDIRECT
                    redirectUrl: http://redirectComesUrlHere.com
                    redirectQRCode: "data:image/png;base64,ABCDEFGHIJKLMNOPQRSTUVWXYZ"
                    paymentMethod: Creditcard
                processing error:
                  value:
                    success: false
                    uuid: abcde12345abcde12345
                    purchaseId: 20200924-abcde12345abcde12345
                    returnType: ERROR
                    paymentMethod: Dummy
                    errors:
                    - errorMessage: Dummy error
                      errorCode: 1003
                      adapterMessage: Dummy adapter error
                general error, e.g. duplicate:
                  value:
                    success: false
                    errorMessage: The transaction ID '20190823062178' already exists!
                    errorCode: 3004
                general error, e.g. validation:
                  value:
                    success: false
                    errorMessage: "root: 'amount' is required"
                    errorCode: 1002
              schema:
                $ref: '#/components/schemas/MaybeTransactionResponse'
          description: Transaction response
      summary: "Process a capture: completes a payment previously authorized through\
        \ Preauthorize"
      tags:
      - transaction
      x-content-type: application/json
      x-accepts: application/json
  /transaction/{apiKey}/void:
    post:
      operationId: processVoid
      parameters:
      - description: API Key of Connector
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              merchantTransactionId: 2019-09-02-0004
              referenceUuid: bcdef23456bcdef23456
            schema:
              $ref: '#/components/schemas/Void'
        description: Data which is required to process a void
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                finished:
                  value:
                    success: true
                    uuid: abcde12345abcde12345
                    purchaseId: 20190927-abcde12345abcde12345
                    returnType: FINISHED
                    paymentMethod: Creditcard
                redirect:
                  value:
                    success: true
                    uuid: abcde12345abcde12345
                    purchaseId: 20190927-abcde12345abcde12345
                    returnType: REDIRECT
                    redirectUrl: http://redirectComesUrlHere.com
                    redirectQRCode: "data:image/png;base64,ABCDEFGHIJKLMNOPQRSTUVWXYZ"
                    paymentMethod: Creditcard
                processing error:
                  value:
                    success: false
                    uuid: abcde12345abcde12345
                    purchaseId: 20200924-abcde12345abcde12345
                    returnType: ERROR
                    paymentMethod: Dummy
                    errors:
                    - errorMessage: Dummy error
                      errorCode: 1003
                      adapterMessage: Dummy adapter error
                general error, e.g. duplicate:
                  value:
                    success: false
                    errorMessage: The transaction ID '20190823062178' already exists!
                    errorCode: 3004
                general error, e.g. validation:
                  value:
                    success: false
                    errorMessage: "root: 'referenceUuid' is required"
                    errorCode: 1002
              schema:
                $ref: '#/components/schemas/MaybeTransactionResponse'
          description: Transaction response
      summary: "Process a void: cancels a previously authorized Preauthorize"
      tags:
      - transaction
      x-content-type: application/json
      x-accepts: application/json
  /transaction/{apiKey}/register:
    post:
      operationId: processRegister
      parameters:
      - description: API Key of Connector
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              merchantTransactionId: 2019-09-02-0005
              merchantMetaData: merchantRelevantData
              successUrl: http://example.com/success
              cancelUrl: http://example.com/cancel
              errorUrl: http://example.com/error
              callbackUrl: http://example.com/callback
              customer:
                identification: 1234
                firstName: John
                lastName: Doe
                paymentData:
                  ibanData:
                    iban: AT11111111111111111111
                    bic: ABC
              description: This is a register
              language: en
            schema:
              $ref: '#/components/schemas/Register'
        description: Data which is required to process a register
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                finished:
                  value:
                    success: true
                    uuid: abcde12345abcde12345
                    purchaseId: 20190927-abcde12345abcde12345
                    returnType: FINISHED
                    paymentMethod: Creditcard
                redirect:
                  value:
                    success: true
                    uuid: abcde12345abcde12345
                    purchaseId: 20190927-abcde12345abcde12345
                    returnType: REDIRECT
                    redirectUrl: http://redirectComesUrlHere.com
                    redirectQRCode: "data:image/png;base64,ABCDEFGHIJKLMNOPQRSTUVWXYZ"
                    paymentMethod: Creditcard
                processing error:
                  value:
                    success: false
                    uuid: abcde12345abcde12345
                    purchaseId: 20200924-abcde12345abcde12345
                    returnType: ERROR
                    paymentMethod: Dummy
                    errors:
                    - errorMessage: Dummy error
                      errorCode: 1003
                      adapterMessage: Dummy adapter error
                general error, e.g. duplicate:
                  value:
                    success: false
                    errorMessage: The transaction ID '20190823062178' already exists!
                    errorCode: 3004
                general error, e.g. validation:
                  value:
                    success: false
                    errorMessage: "root: 'amount' is required"
                    errorCode: 1002
              schema:
                $ref: '#/components/schemas/MaybeTransactionResponse'
          description: Transaction response
      summary: "Process a register: registers a customer's payment instrument for\
        \ future use (Debit or Preauthorize)"
      tags:
      - transaction
      x-content-type: application/json
      x-accepts: application/json
  /transaction/{apiKey}/deregister:
    post:
      operationId: processDeregister
      parameters:
      - description: API Key of Connector
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              merchantTransactionId: 2019-09-02-0006
              merchantMetaData: merchantRelevantData
              referenceUuid: bcdef23456bcdef23456
            schema:
              $ref: '#/components/schemas/Deregister'
        description: Data which is required to process a deregister
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                finished:
                  value:
                    success: true
                    uuid: abcde12345abcde12345
                    purchaseId: 20190927-abcde12345abcde12345
                    returnType: FINISHED
                    paymentMethod: Creditcard
                processing error:
                  value:
                    success: false
                    uuid: abcde12345abcde12345
                    purchaseId: 20200924-abcde12345abcde12345
                    returnType: ERROR
                    paymentMethod: Dummy
                    errors:
                    - errorMessage: Dummy error
                      errorCode: 1003
                      adapterMessage: Dummy adapter error
                general error, e.g. duplicate:
                  value:
                    success: false
                    errorMessage: The transaction ID '20190823062178' already exists!
                    errorCode: 3004
                general error, e.g. validation:
                  value:
                    success: false
                    errorMessage: "root: 'referenceUuid' is required"
                    errorCode: 1002
              schema:
                $ref: '#/components/schemas/MaybeTransactionResponse'
          description: Transaction response
      summary: "Process a deregister: deletes a previously registered payment instrument"
      tags:
      - transaction
      x-content-type: application/json
      x-accepts: application/json
  /transaction/{apiKey}/refund:
    post:
      operationId: processRefund
      parameters:
      - description: API Key of Connector
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              merchantTransactionId: 2019-09-02-0007
              referenceUuid: bcdef23456bcdef23456
              amount: "9.99"
              currency: EUR
              callbackUrl: http://example.com/callback
              description: Refund money
            schema:
              $ref: '#/components/schemas/Refund'
        description: Data which is required to process a refund
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                finished:
                  value:
                    success: true
                    uuid: abcde12345abcde12345
                    purchaseId: 20190927-abcde12345abcde12345
                    returnType: FINISHED
                    paymentMethod: Creditcard
                processing error:
                  value:
                    success: false
                    uuid: abcde12345abcde12345
                    purchaseId: 20200924-abcde12345abcde12345
                    returnType: ERROR
                    paymentMethod: Dummy
                    errors:
                    - errorMessage: Dummy error
                      errorCode: 1003
                      adapterMessage: Dummy adapter error
                general error, e.g. duplicate:
                  value:
                    success: false
                    errorMessage: The transaction ID '20190823062178' already exists!
                    errorCode: 3004
                general error, e.g. validation:
                  value:
                    success: false
                    errorMessage: "root: 'amount' is required"
                    errorCode: 1002
              schema:
                $ref: '#/components/schemas/MaybeTransactionResponse'
          description: Transaction response
      summary: Process a refund
      tags:
      - transaction
      x-content-type: application/json
      x-accepts: application/json
  /transaction/{apiKey}/payout:
    post:
      operationId: processPayout
      parameters:
      - description: API Key of Connector
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              merchantTransactionId: 2019-09-02-0008
              amount: "9.99"
              currency: EUR
              callbackUrl: http://example.com/callback
              transactionToken: ix::a1A2B3b4c5C6D7d
              description: Payout
            schema:
              $ref: '#/components/schemas/Payout'
        description: Data which is required to process a payout
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                finished:
                  value:
                    success: true
                    uuid: abcde12345abcde12345
                    purchaseId: 20190927-abcde12345abcde12345
                    returnType: FINISHED
                    paymentMethod: Creditcard
                processing error:
                  value:
                    success: false
                    uuid: abcde12345abcde12345
                    purchaseId: 20200924-abcde12345abcde12345
                    returnType: ERROR
                    paymentMethod: Dummy
                    errors:
                    - errorMessage: Dummy error
                      errorCode: 1003
                      adapterMessage: Dummy adapter error
                general error, e.g. duplicate:
                  value:
                    success: false
                    errorMessage: The transaction ID '20190823062178' already exists!
                    errorCode: 3004
                general error, e.g. validation:
                  value:
                    success: false
                    errorMessage: "root: 'amount' is required"
                    errorCode: 1002
              schema:
                $ref: '#/components/schemas/MaybeTransactionResponse'
          description: Transaction response
      summary: Process a payout
      tags:
      - transaction
      x-content-type: application/json
      x-accepts: application/json
  /schedule/{apiKey}/start:
    post:
      operationId: startSchedule
      parameters:
      - description: API Key of Connector
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              registrationUuid: abcde01234abcde01234
              amount: "9.99"
              currency: EUR
              periodLength: 6
              periodUnit: MONTH
              startDateTime: 2019-09-30T01:00:00+00:00
            schema:
              $ref: '#/components/schemas/StartSchedule'
        description: Start a schedule on the given registration transaction
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                success:
                  value:
                    success: true
                    scheduleId: SC-1234-1234-1234-1234-1234-1234
                    registrationUuid: abcde01234abcde01234
                    oldStatus: NON-EXISTING
                    newStatus: ACTIVE
                    scheduledAt: 2019-09-30T12:00:00+00:00
                error:
                  value:
                    success: false
                    errorMessage: The scheduleId is not valid or does not match to
                      the connector
                    errorCode: 7040
              schema:
                $ref: '#/components/schemas/MaybeScheduleResponse'
          description: Schedule response
      summary: Start a schedule. Requires the registrationId of an existing transaction
        of type Register / Debit-with-register / Preauthorize-with-register
      tags:
      - schedule
      x-content-type: application/json
      x-accepts: application/json
  /schedule/{apiKey}/{scheduleId}/update:
    post:
      operationId: updateSchedule
      parameters:
      - description: API Key of Connector
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the schedule
        explode: false
        in: path
        name: scheduleId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              amount: "9.99"
            schema:
              $ref: '#/components/schemas/UpdateSchedule'
        description: Update a schedule with given parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                success:
                  value:
                    success: true
                    scheduleId: SC-1234-1234-1234-1234-1234-1234
                    registrationUuid: abcde01234abcde01234
                    oldStatus: NON-EXISTING
                    newStatus: ACTIVE
                    scheduledAt: 2019-09-30T12:00:00+00:00
                error:
                  value:
                    success: false
                    errorMessage: The scheduleId is not valid or does not match to
                      the connector
                    errorCode: 7040
              schema:
                $ref: '#/components/schemas/MaybeScheduleResponse'
          description: Schedule response
      summary: Update a schedule. Requires the registrationId of an existing transaction
        of type Register / Debit-with-register / Preauthorize-with-register
      tags:
      - schedule
      x-content-type: application/json
      x-accepts: application/json
  /schedule/{apiKey}/{scheduleId}/get:
    get:
      operationId: getSchedule
      parameters:
      - description: API Key of Connector
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the schedule
        explode: false
        in: path
        name: scheduleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                success:
                  value:
                    success: true
                    scheduleId: SC-1234-1234-1234-1234-1234-1234
                    registrationUuid: abcde01234abcde01234
                    oldStatus: ACTIVE
                    newStatus: ACTIVE
                    scheduledAt: 2019-09-30T12:00:00+00:00
                error:
                  value:
                    success: false
                    errorMessage: The scheduleId is not valid or does not match to
                      the connector
                    errorCode: 7040
              schema:
                $ref: '#/components/schemas/MaybeScheduleResponse'
          description: Schedule response
      summary: Retrieve a schedule. Requires the UUID of an existing transaction of
        type Register / Debit-with-register / Preuathorize-with-register
      tags:
      - schedule
      x-accepts: application/json
  /schedule/{apiKey}/{scheduleId}/pause:
    post:
      operationId: pauseSchedule
      parameters:
      - description: API Key of Connector
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the schedule
        explode: false
        in: path
        name: scheduleId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PauseSchedule'
        description: Pause a schedule
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                success:
                  value:
                    success: true
                    scheduleId: SC-1234-1234-1234-1234-1234-1234
                    oldStatus: ACTIVE
                    newStatus: PAUSED
                error:
                  value:
                    success: false
                    scheduleId: SC-1234-1234-1234-1234-1234-1234
                    oldStatus: PAUSED
                    newStatus: PAUSED
                    errorMessage: The status of the schedule is not valid for the
                      requested operation
                    errorCode: 7070
              schema:
                $ref: '#/components/schemas/MaybeScheduleResponse'
          description: Schedule response
      summary: Pause a schedule. Requires the registrationId of an existing transaction
        of type Register / Debit-with-register / Preuathorize-with-register
      tags:
      - schedule
      x-content-type: application/json
      x-accepts: application/json
  /schedule/{apiKey}/{scheduleId}/continue:
    post:
      operationId: continueSchedule
      parameters:
      - description: API Key of Connector
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the schedule
        explode: false
        in: path
        name: scheduleId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              continueDateTime: 2019-09-30T01:00:00+00:00
            schema:
              $ref: '#/components/schemas/ContinueSchedule'
        description: Continue a given schedule on given date and time
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                success:
                  value:
                    success: true
                    scheduleId: SC-1234-1234-1234-1234-1234-1234
                    oldStatus: PAUSED
                    newStatus: ACTIVE
                    scheduledAt: 2019-10-05T14:26:11+00:00
                error:
                  value:
                    success: false
                    scheduleId: SC-1234-1234-1234-1234-1234-1234
                    oldStatus: ACTIVE
                    newStatus: ACTIVE
                    errorMessage: The status of the schedule is not valid for the
                      requested operation
                    errorCode: 7070
              schema:
                $ref: '#/components/schemas/MaybeScheduleResponse'
          description: Schedule response
      summary: Continue a schedule which has been paused. Requires the registrationId
        of an existing transaction of type Register / Debit-with-register / Preuathorize-with-register
      tags:
      - schedule
      x-content-type: application/json
      x-accepts: application/json
  /schedule/{apiKey}/{scheduleId}/cancel:
    post:
      operationId: cancelSchedule
      parameters:
      - description: API Key of Connector
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the schedule
        explode: false
        in: path
        name: scheduleId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelSchedule'
        description: Cancel a schedule
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                success:
                  value:
                    success: true
                    scheduleId: SC-1234-1234-1234-1234-1234-1234
                    oldStatus: ACTIVE
                    newStatus: CANCELLED
                error:
                  value:
                    success: false
                    scheduleId: SC-1234-1234-1234-1234-1234-1234
                    oldStatus: CANCELLED
                    newStatus: CANCELLED
                    errorMessage: The status of the schedule is not valid for the
                      requested operation
                    errorCode: 7070
              schema:
                $ref: '#/components/schemas/MaybeScheduleResponse'
          description: Schedule response
      summary: Cancel a schedule. Requires the registrationId of an existing transaction
        of type Register / Debit-with-register / Preuathorize-with-register
      tags:
      - schedule
      x-content-type: application/json
      x-accepts: application/json
  /status/{apiKey}/getByUuid/{uuid}:
    get:
      operationId: transactionStatusByUuid
      parameters:
      - description: API Key of Connector
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: UUID of transaction
        explode: false
        in: path
        name: uuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                success:
                  value:
                    success: true
                    transactionStatus: SUCCESS
                    uuid: abcde12345abcde12345
                    merchantTransactionId: 2019-09-02-0001
                    purchaseId: 20190902-abcde12345abcde12345
                    transactionType: debit
                    paymentMethod: Creditcard
                    amount: "9.99"
                    currency: EUR
                    customer:
                      firstName: John
                      lastName: Doe
                      company: ACME Corp.
                      emailVerified: true
                    extraData:
                      someKey: someValue
                      otherKey: otherValue
                    returnData:
                      _TYPE: cardData
                      type: visa
                      cardHolder: John Doe
                      expiryMonth: 12
                      expiryYear: 2030
                      binDigits: "12345678"
                      firstSixDigits: "123456"
                      lastFourDigits: "4321"
                      threeDSecure: "OFF"
                      binBrand: VISA
                      binBank: SOME BIG BANK
                      binCountry: US
                error:
                  value:
                    success: false
                    errorMessage: Transaction not found
                    errorCode: 8001
              schema:
                $ref: '#/components/schemas/StatusResponse'
          description: Status response
      summary: Retrieve status of a transaction
      tags:
      - status
      x-accepts: application/json
  /status/{apiKey}/getByMerchantTransactionId/{merchantTransactionId}:
    get:
      operationId: transactionStatusByMerchantTransactionId
      parameters:
      - description: API Key of Connector
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: ID of merchant transaction
        explode: false
        in: path
        name: merchantTransactionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                success:
                  value:
                    success: true
                    transactionStatus: SUCCESS
                    uuid: abcde12345abcde12345
                    merchantTransactionId: 2019-09-02-0001
                    purchaseId: 20190902-abcde12345abcde12345
                    transactionType: debit
                    paymentMethod: Creditcard
                    amount: "9.99"
                    currency: EUR
                    customer:
                      firstName: John
                      lastName: Doe
                      company: ACME Corp.
                      emailVerified: true
                    extraData:
                      someKey: someValue
                      otherKey: otherValue
                    returnData:
                      _TYPE: cardData
                      type: visa
                      cardHolder: John Doe
                      expiryMonth: 12
                      expiryYear: 2030
                      binDigits: "12345678"
                      firstSixDigits: "123456"
                      lastFourDigits: "4321"
                      threeDSecure: "OFF"
                      binBrand: VISA
                      binBank: SOME BIG BANK
                      binCountry: US
                error:
                  value:
                    success: false
                    errorMessage: Transaction not found
                    errorCode: 8001
              schema:
                $ref: '#/components/schemas/StatusResponse'
          description: Status response
      summary: Retrieve status of a transaction
      tags:
      - status
      x-accepts: application/json
  /options/{apiKey}/{optionsName}:
    post:
      operationId: options
      parameters:
      - description: API Key of Connector
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: Options identifier of the appropriate adapter
        explode: false
        in: path
        name: optionsName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              parameters:
                firstParam: firstValue
                secondParam: secondValue
            schema:
              $ref: '#/components/schemas/OptionsRequest'
        description: Parameters may be required dependent on the adapter
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                success:
                  value:
                    success: true
                    options:
                      bank1: Bank One
                      bank2: Bank Two
                      bank3: Bank Three
                      bank4: Bank Four
                error:
                  value:
                    success: false
                    errorMessage: Given identifier 'someIdentifier' is invalid.
              schema:
                $ref: '#/components/schemas/OptionsResponse'
          description: Options response
      security: []
      summary: Retrieve an options list based on given option name
      tags:
      - options
      x-content-type: application/json
      x-accepts: application/json
components:
  schemas:
    PrepareDebitRequest:
      additionalProperties: false
      example:
        additionalId1: additionalId1
        transactionToken: transactionToken
        amount: amount
        extraData:
          key: extraData
        withRegister: true
        customerProfileData:
          profileGuid: profileGuid
          customerIdentification: customerIdentification
          markAsPreferred: true
        successUrl: https://openapi-generator.tech
        description: description
        language: language
        referenceUuid: referenceUuid
        transactionIndicator: SINGLE
        merchantMetaData: merchantMetaData
        errorUrl: https://openapi-generator.tech
        schedule:
          amount: amount
          startDateTime: null
          currency: currency
          periodLength: 0
          periodUnit: null
          merchantMetaData: merchantMetaData
        cancelUrl: https://openapi-generator.tech
        merchantTransactionId: merchantTransactionId
        currency: currency
        callbackUrl: https://openapi-generator.tech
        threeDSecureData:
          homePhoneNumber: homePhoneNumber
          giftCardAmount: 3.616076749251911
          cardholderAccountDate: null
          billingAddressLine3: billingAddressLine3
          channel: "01"
          cardholderAccountType: "01"
          "3dsecure": null
          mobilePhoneCountryPrefix: mobilePhoneCountryPrefix
          cardholderAuthenticationDateTime: null
          paymentAccountAgeIndicator: "01"
          browserAcceptHeader: browserAcceptHeader
          transactionActivityYear: 5.637376656633329
          priorAuthenticationDateTime: null
          sdkReferenceNumber: sdkReferenceNumber
          workPhoneNumber: workPhoneNumber
          sdkAppID: sdkAppID
          shippingAddressLine3: shippingAddressLine3
          browserChallengeWindowSize: "01"
          transactionActivityDay: 5.962133916683182
          sdkUiType: sdkUiType
          browserLanguage: browserLanguage
          sdkInterface: "01"
          billingShippingAddressMatch: "Y"
          preOrderDate: null
          sdkEncData: sdkEncData
          cardholderAccountLastChange: null
          browserTimezone: -7949.913528851714
          shippingNameEqualIndicator: "01"
          cardholderAccountChangeIndicator: "01"
          transType: "01"
          challengeIndicator: "01"
          priorAuthenticationMethod: "01"
          workPhoneCountryPrefix: workPhoneCountryPrefix
          shippingAddressFirstUsage: null
          browserIpAddress: browserIpAddress
          giftCardCurrency: giftCardCurrency
          threeRIIndicator: "01"
          priorAuthenticationData: priorAuthenticationData
          purchaseDate: null
          recurringFrequency: 4145.193469080948
          shipIndicator: "01"
          paymentAccountAgeDate: null
          browserColorDepth: "1"
          priorReference: priorReference
          browserJavaEnabled: true
          preOrderPurchaseIndicator: "01"
          giftCardCount: 20.865805625422755
          sdkEphemPubKey: sdkEphemPubKey
          deliveryTimeframe: "01"
          recurringExpiry: null
          deliveryEmailAddress: deliveryEmailAddress
          cardHolderAuthenticationData: cardHolderAuthenticationData
          cardholderAuthenticationMethod: "01"
          browserScreenHeight: 7.386281948385884
          homePhoneCountryPrefix: homePhoneCountryPrefix
          addCardAttemptsDay: 2.3021358869347655
          purchaseCountSixMonths: 7.061401241503109
          sdkTransID: sdkTransID
          mobilePhoneNumber: mobilePhoneNumber
          cardholderAccountAgeIndicator: "01"
          exemptionIndicator: "01"
          sdkMaxTimeout: 5.148941590985417
          purchaseInstalData: 929.2841355444712
          cardholderAccountPasswordChangeIndicator: "01"
          browserUserAgent: browserUserAgent
          authenticationIndicator: "01"
          cardholderAccountLastPasswordChange: null
          reorderItemsIndicator: "01"
          shippingAddressUsageIndicator: "01"
          browserScreenWidth: 1.2315135367772556
          suspiciousAccountActivityIndicator: "01"
        items:
        - identification: identification
          quantity: 0.8008281904610115
          extraData:
            key: extraData
          price: 6.027456183070403
          name: name
          description: description
          currency: currency
        - identification: identification
          quantity: 0.8008281904610115
          extraData:
            key: extraData
          price: 6.027456183070403
          name: name
          description: description
          currency: currency
        additionalId2: additionalId2
        customer:
          lastName: lastName
          shippingCompany: shippingCompany
          shippingCity: shippingCity
          gender: M
          extraData:
            key: extraData
          shippingPostcode: shippingPostcode
          shippingAddress2: shippingAddress2
          shippingAddress1: shippingAddress1
          billingAddress2: billingAddress2
          billingAddress1: billingAddress1
          identification: identification
          shippingCountry: shippingCountry
          billingCountry: billingCountry
          company: company
          email: email
          shippingLastName: shippingLastName
          ipAddress: ipAddress
          shippingPhone: shippingPhone
          billingState: billingState
          birthDate: null
          firstName: firstName
          emailVerified: true
          nationalId: nationalId
          shippingFirstName: shippingFirstName
          paymentData: null
          shippingState: shippingState
          billingPostcode: billingPostcode
          billingCity: billingCity
          billingPhone: billingPhone
      properties:
        merchantTransactionId:
          maxLength: 50
          minLength: 1
          type: string
        additionalId1:
          maxLength: 50
          minLength: 1
          type: string
        additionalId2:
          maxLength: 50
          minLength: 1
          type: string
        extraData:
          additionalProperties:
            type: string
          type: object
        merchantMetaData:
          maxLength: 255
          type: string
        referenceUuid:
          maxLength: 50
          minLength: 1
          type: string
        amount:
          pattern: "^(([0-9]+)|([0-9]+\\.[0-9]{1,3}))$"
          type: string
        currency:
          pattern: "^[A-Z]{3}$"
          type: string
        successUrl:
          format: uri
          maxLength: 255
          type: string
        cancelUrl:
          format: uri
          maxLength: 255
          type: string
        errorUrl:
          format: uri
          maxLength: 255
          type: string
        callbackUrl:
          format: uri
          maxLength: 255
          type: string
        transactionToken:
          type: string
        description:
          maxLength: 255
          type: string
        items:
          items:
            $ref: '#/components/schemas/Items_inner'
          type: array
        withRegister:
          type: boolean
        transactionIndicator:
          enum:
          - SINGLE
          - INITIAL
          - RECURRING
          - CARDONFILE
          - CARDONFILE-MERCHANT-INITIATED
          type: string
        customer:
          $ref: '#/components/schemas/Customer'
        schedule:
          $ref: '#/components/schemas/Schedule'
        customerProfileData:
          $ref: '#/components/schemas/CustomerProfileData'
        threeDSecureData:
          $ref: '#/components/schemas/ThreeDSecureData'
        language:
          maxLength: 2
          minLength: 2
          type: string
      required:
      - amount
      - currency
      type: object
    PrepareDebitResponse:
      additionalProperties: true
      example:
        success: true
        error: error
      properties:
        success:
          type: boolean
        error:
          type: string
      type: object
    Debit:
      additionalProperties: false
      example:
        additionalId1: additionalId1
        transactionToken: transactionToken
        amount: amount
        splits:
        - amount: 0.8008281904610115
          identification: identification
          sellerMerchantGuid: sellerMerchantGuid
          sellerMerchantExternalId: sellerMerchantExternalId
          currency: currency
          commisionFee:
            amount: 6.027456183070403
            currency: currency
        - amount: 0.8008281904610115
          identification: identification
          sellerMerchantGuid: sellerMerchantGuid
          sellerMerchantExternalId: sellerMerchantExternalId
          currency: currency
          commisionFee:
            amount: 6.027456183070403
            currency: currency
        extraData:
          key: extraData
        withRegister: true
        customerProfileData:
          profileGuid: profileGuid
          customerIdentification: customerIdentification
          markAsPreferred: true
        successUrl: https://openapi-generator.tech
        description: description
        language: language
        referenceUuid: referenceUuid
        transactionIndicator: SINGLE
        merchantMetaData: merchantMetaData
        errorUrl: https://openapi-generator.tech
        schedule:
          amount: amount
          startDateTime: null
          currency: currency
          periodLength: 0
          periodUnit: null
          merchantMetaData: merchantMetaData
        cancelUrl: https://openapi-generator.tech
        merchantTransactionId: merchantTransactionId
        currency: currency
        callbackUrl: https://openapi-generator.tech
        threeDSecureData:
          homePhoneNumber: homePhoneNumber
          giftCardAmount: 3.616076749251911
          cardholderAccountDate: null
          billingAddressLine3: billingAddressLine3
          channel: "01"
          cardholderAccountType: "01"
          "3dsecure": null
          mobilePhoneCountryPrefix: mobilePhoneCountryPrefix
          cardholderAuthenticationDateTime: null
          paymentAccountAgeIndicator: "01"
          browserAcceptHeader: browserAcceptHeader
          transactionActivityYear: 5.637376656633329
          priorAuthenticationDateTime: null
          sdkReferenceNumber: sdkReferenceNumber
          workPhoneNumber: workPhoneNumber
          sdkAppID: sdkAppID
          shippingAddressLine3: shippingAddressLine3
          browserChallengeWindowSize: "01"
          transactionActivityDay: 5.962133916683182
          sdkUiType: sdkUiType
          browserLanguage: browserLanguage
          sdkInterface: "01"
          billingShippingAddressMatch: "Y"
          preOrderDate: null
          sdkEncData: sdkEncData
          cardholderAccountLastChange: null
          browserTimezone: -7949.913528851714
          shippingNameEqualIndicator: "01"
          cardholderAccountChangeIndicator: "01"
          transType: "01"
          challengeIndicator: "01"
          priorAuthenticationMethod: "01"
          workPhoneCountryPrefix: workPhoneCountryPrefix
          shippingAddressFirstUsage: null
          browserIpAddress: browserIpAddress
          giftCardCurrency: giftCardCurrency
          threeRIIndicator: "01"
          priorAuthenticationData: priorAuthenticationData
          purchaseDate: null
          recurringFrequency: 4145.193469080948
          shipIndicator: "01"
          paymentAccountAgeDate: null
          browserColorDepth: "1"
          priorReference: priorReference
          browserJavaEnabled: true
          preOrderPurchaseIndicator: "01"
          giftCardCount: 20.865805625422755
          sdkEphemPubKey: sdkEphemPubKey
          deliveryTimeframe: "01"
          recurringExpiry: null
          deliveryEmailAddress: deliveryEmailAddress
          cardHolderAuthenticationData: cardHolderAuthenticationData
          cardholderAuthenticationMethod: "01"
          browserScreenHeight: 7.386281948385884
          homePhoneCountryPrefix: homePhoneCountryPrefix
          addCardAttemptsDay: 2.3021358869347655
          purchaseCountSixMonths: 7.061401241503109
          sdkTransID: sdkTransID
          mobilePhoneNumber: mobilePhoneNumber
          cardholderAccountAgeIndicator: "01"
          exemptionIndicator: "01"
          sdkMaxTimeout: 5.148941590985417
          purchaseInstalData: 929.2841355444712
          cardholderAccountPasswordChangeIndicator: "01"
          browserUserAgent: browserUserAgent
          authenticationIndicator: "01"
          cardholderAccountLastPasswordChange: null
          reorderItemsIndicator: "01"
          shippingAddressUsageIndicator: "01"
          browserScreenWidth: 1.2315135367772556
          suspiciousAccountActivityIndicator: "01"
        items:
        - identification: identification
          quantity: 0.8008281904610115
          extraData:
            key: extraData
          price: 6.027456183070403
          name: name
          description: description
          currency: currency
        - identification: identification
          quantity: 0.8008281904610115
          extraData:
            key: extraData
          price: 6.027456183070403
          name: name
          description: description
          currency: currency
        additionalId2: additionalId2
        customer:
          lastName: lastName
          shippingCompany: shippingCompany
          shippingCity: shippingCity
          gender: M
          extraData:
            key: extraData
          shippingPostcode: shippingPostcode
          shippingAddress2: shippingAddress2
          shippingAddress1: shippingAddress1
          billingAddress2: billingAddress2
          billingAddress1: billingAddress1
          identification: identification
          shippingCountry: shippingCountry
          billingCountry: billingCountry
          company: company
          email: email
          shippingLastName: shippingLastName
          ipAddress: ipAddress
          shippingPhone: shippingPhone
          billingState: billingState
          birthDate: null
          firstName: firstName
          emailVerified: true
          nationalId: nationalId
          shippingFirstName: shippingFirstName
          paymentData: null
          shippingState: shippingState
          billingPostcode: billingPostcode
          billingCity: billingCity
          billingPhone: billingPhone
      properties:
        merchantTransactionId:
          maxLength: 50
          minLength: 1
          type: string
        additionalId1:
          maxLength: 50
          minLength: 1
          type: string
        additionalId2:
          maxLength: 50
          minLength: 1
          type: string
        extraData:
          additionalProperties:
            type: string
          type: object
        merchantMetaData:
          maxLength: 255
          type: string
        referenceUuid:
          maxLength: 50
          minLength: 1
          type: string
        amount:
          pattern: "^(([0-9]+)|([0-9]+\\.[0-9]{1,3}))$"
          type: string
        currency:
          pattern: "^[A-Z]{3}$"
          type: string
        successUrl:
          format: uri
          maxLength: 512
          type: string
        cancelUrl:
          format: uri
          maxLength: 512
          type: string
        errorUrl:
          format: uri
          maxLength: 512
          type: string
        callbackUrl:
          format: uri
          maxLength: 512
          type: string
        transactionToken:
          type: string
        description:
          maxLength: 255
          type: string
        items:
          items:
            $ref: '#/components/schemas/Items_inner'
          type: array
        splits:
          items:
            $ref: '#/components/schemas/Split'
          type: array
        withRegister:
          type: boolean
        transactionIndicator:
          enum:
          - SINGLE
          - INITIAL
          - RECURRING
          - CARDONFILE
          - CARDONFILE-MERCHANT-INITIATED
          - MOTO
          type: string
        customer:
          $ref: '#/components/schemas/Customer'
        schedule:
          $ref: '#/components/schemas/Schedule'
        customerProfileData:
          $ref: '#/components/schemas/CustomerProfileData'
        threeDSecureData:
          $ref: '#/components/schemas/ThreeDSecureData'
        language:
          maxLength: 2
          minLength: 2
          type: string
      required:
      - amount
      - currency
      - merchantTransactionId
      type: object
    PreparePreauthorizeRequest:
      additionalProperties: false
      example:
        additionalId1: additionalId1
        transactionToken: transactionToken
        amount: amount
        extraData:
          key: extraData
        withRegister: true
        customerProfileData:
          profileGuid: profileGuid
          customerIdentification: customerIdentification
          markAsPreferred: true
        successUrl: https://openapi-generator.tech
        description: description
        language: language
        referenceUuid: referenceUuid
        transactionIndicator: SINGLE
        merchantMetaData: merchantMetaData
        errorUrl: https://openapi-generator.tech
        schedule:
          amount: amount
          startDateTime: null
          currency: currency
          periodLength: 0
          periodUnit: null
          merchantMetaData: merchantMetaData
        cancelUrl: https://openapi-generator.tech
        merchantTransactionId: merchantTransactionId
        currency: currency
        callbackUrl: https://openapi-generator.tech
        threeDSecureData:
          homePhoneNumber: homePhoneNumber
          giftCardAmount: 3.616076749251911
          cardholderAccountDate: null
          billingAddressLine3: billingAddressLine3
          channel: "01"
          cardholderAccountType: "01"
          "3dsecure": null
          mobilePhoneCountryPrefix: mobilePhoneCountryPrefix
          cardholderAuthenticationDateTime: null
          paymentAccountAgeIndicator: "01"
          browserAcceptHeader: browserAcceptHeader
          transactionActivityYear: 5.637376656633329
          priorAuthenticationDateTime: null
          sdkReferenceNumber: sdkReferenceNumber
          workPhoneNumber: workPhoneNumber
          sdkAppID: sdkAppID
          shippingAddressLine3: shippingAddressLine3
          browserChallengeWindowSize: "01"
          transactionActivityDay: 5.962133916683182
          sdkUiType: sdkUiType
          browserLanguage: browserLanguage
          sdkInterface: "01"
          billingShippingAddressMatch: "Y"
          preOrderDate: null
          sdkEncData: sdkEncData
          cardholderAccountLastChange: null
          browserTimezone: -7949.913528851714
          shippingNameEqualIndicator: "01"
          cardholderAccountChangeIndicator: "01"
          transType: "01"
          challengeIndicator: "01"
          priorAuthenticationMethod: "01"
          workPhoneCountryPrefix: workPhoneCountryPrefix
          shippingAddressFirstUsage: null
          browserIpAddress: browserIpAddress
          giftCardCurrency: giftCardCurrency
          threeRIIndicator: "01"
          priorAuthenticationData: priorAuthenticationData
          purchaseDate: null
          recurringFrequency: 4145.193469080948
          shipIndicator: "01"
          paymentAccountAgeDate: null
          browserColorDepth: "1"
          priorReference: priorReference
          browserJavaEnabled: true
          preOrderPurchaseIndicator: "01"
          giftCardCount: 20.865805625422755
          sdkEphemPubKey: sdkEphemPubKey
          deliveryTimeframe: "01"
          recurringExpiry: null
          deliveryEmailAddress: deliveryEmailAddress
          cardHolderAuthenticationData: cardHolderAuthenticationData
          cardholderAuthenticationMethod: "01"
          browserScreenHeight: 7.386281948385884
          homePhoneCountryPrefix: homePhoneCountryPrefix
          addCardAttemptsDay: 2.3021358869347655
          purchaseCountSixMonths: 7.061401241503109
          sdkTransID: sdkTransID
          mobilePhoneNumber: mobilePhoneNumber
          cardholderAccountAgeIndicator: "01"
          exemptionIndicator: "01"
          sdkMaxTimeout: 5.148941590985417
          purchaseInstalData: 929.2841355444712
          cardholderAccountPasswordChangeIndicator: "01"
          browserUserAgent: browserUserAgent
          authenticationIndicator: "01"
          cardholderAccountLastPasswordChange: null
          reorderItemsIndicator: "01"
          shippingAddressUsageIndicator: "01"
          browserScreenWidth: 1.2315135367772556
          suspiciousAccountActivityIndicator: "01"
        items:
        - identification: identification
          quantity: 0.8008281904610115
          extraData:
            key: extraData
          price: 6.027456183070403
          name: name
          description: description
          currency: currency
        - identification: identification
          quantity: 0.8008281904610115
          extraData:
            key: extraData
          price: 6.027456183070403
          name: name
          description: description
          currency: currency
        additionalId2: additionalId2
        customer:
          lastName: lastName
          shippingCompany: shippingCompany
          shippingCity: shippingCity
          gender: M
          extraData:
            key: extraData
          shippingPostcode: shippingPostcode
          shippingAddress2: shippingAddress2
          shippingAddress1: shippingAddress1
          billingAddress2: billingAddress2
          billingAddress1: billingAddress1
          identification: identification
          shippingCountry: shippingCountry
          billingCountry: billingCountry
          company: company
          email: email
          shippingLastName: shippingLastName
          ipAddress: ipAddress
          shippingPhone: shippingPhone
          billingState: billingState
          birthDate: null
          firstName: firstName
          emailVerified: true
          nationalId: nationalId
          shippingFirstName: shippingFirstName
          paymentData: null
          shippingState: shippingState
          billingPostcode: billingPostcode
          billingCity: billingCity
          billingPhone: billingPhone
      properties:
        merchantTransactionId:
          maxLength: 50
          minLength: 1
          type: string
        additionalId1:
          maxLength: 50
          minLength: 1
          type: string
        additionalId2:
          maxLength: 50
          minLength: 1
          type: string
        extraData:
          additionalProperties:
            type: string
          type: object
        merchantMetaData:
          maxLength: 255
          type: string
        referenceUuid:
          maxLength: 50
          minLength: 1
          type: string
        amount:
          pattern: "^(([0-9]+)|([0-9]+\\.[0-9]{1,3}))$"
          type: string
        currency:
          pattern: "^[A-Z]{3}$"
          type: string
        successUrl:
          format: uri
          maxLength: 255
          type: string
        cancelUrl:
          format: uri
          maxLength: 255
          type: string
        errorUrl:
          format: uri
          maxLength: 255
          type: string
        callbackUrl:
          format: uri
          maxLength: 255
          type: string
        transactionToken:
          type: string
        description:
          maxLength: 255
          type: string
        items:
          items:
            $ref: '#/components/schemas/Items_inner'
          type: array
        withRegister:
          type: boolean
        transactionIndicator:
          enum:
          - SINGLE
          - INITIAL
          - RECURRING
          - CARDONFILE
          - CARDONFILE-MERCHANT-INITIATED
          type: string
        customer:
          $ref: '#/components/schemas/Customer'
        schedule:
          $ref: '#/components/schemas/Schedule'
        customerProfileData:
          $ref: '#/components/schemas/CustomerProfileData'
        threeDSecureData:
          $ref: '#/components/schemas/ThreeDSecureData'
        language:
          maxLength: 2
          minLength: 2
          type: string
      required:
      - amount
      - currency
      type: object
    PreparePreauthorizeResponse:
      additionalProperties: true
      example:
        success: true
        error: error
      properties:
        success:
          type: boolean
        error:
          type: string
      type: object
    Preauthorize:
      additionalProperties: false
      example:
        additionalId1: additionalId1
        transactionToken: transactionToken
        amount: amount
        splits:
        - amount: 0.8008281904610115
          identification: identification
          sellerMerchantGuid: sellerMerchantGuid
          sellerMerchantExternalId: sellerMerchantExternalId
          currency: currency
          commisionFee:
            amount: 6.027456183070403
            currency: currency
        - amount: 0.8008281904610115
          identification: identification
          sellerMerchantGuid: sellerMerchantGuid
          sellerMerchantExternalId: sellerMerchantExternalId
          currency: currency
          commisionFee:
            amount: 6.027456183070403
            currency: currency
        extraData:
          key: extraData
        withRegister: true
        customerProfileData:
          profileGuid: profileGuid
          customerIdentification: customerIdentification
          markAsPreferred: true
        successUrl: https://openapi-generator.tech
        description: description
        language: language
        referenceUuid: referenceUuid
        transactionIndicator: SINGLE
        merchantMetaData: merchantMetaData
        errorUrl: https://openapi-generator.tech
        schedule:
          amount: amount
          startDateTime: null
          currency: currency
          periodLength: 0
          periodUnit: null
          merchantMetaData: merchantMetaData
        cancelUrl: https://openapi-generator.tech
        merchantTransactionId: merchantTransactionId
        currency: currency
        callbackUrl: https://openapi-generator.tech
        threeDSecureData:
          homePhoneNumber: homePhoneNumber
          giftCardAmount: 3.616076749251911
          cardholderAccountDate: null
          billingAddressLine3: billingAddressLine3
          channel: "01"
          cardholderAccountType: "01"
          "3dsecure": null
          mobilePhoneCountryPrefix: mobilePhoneCountryPrefix
          cardholderAuthenticationDateTime: null
          paymentAccountAgeIndicator: "01"
          browserAcceptHeader: browserAcceptHeader
          transactionActivityYear: 5.637376656633329
          priorAuthenticationDateTime: null
          sdkReferenceNumber: sdkReferenceNumber
          workPhoneNumber: workPhoneNumber
          sdkAppID: sdkAppID
          shippingAddressLine3: shippingAddressLine3
          browserChallengeWindowSize: "01"
          transactionActivityDay: 5.962133916683182
          sdkUiType: sdkUiType
          browserLanguage: browserLanguage
          sdkInterface: "01"
          billingShippingAddressMatch: "Y"
          preOrderDate: null
          sdkEncData: sdkEncData
          cardholderAccountLastChange: null
          browserTimezone: -7949.913528851714
          shippingNameEqualIndicator: "01"
          cardholderAccountChangeIndicator: "01"
          transType: "01"
          challengeIndicator: "01"
          priorAuthenticationMethod: "01"
          workPhoneCountryPrefix: workPhoneCountryPrefix
          shippingAddressFirstUsage: null
          browserIpAddress: browserIpAddress
          giftCardCurrency: giftCardCurrency
          threeRIIndicator: "01"
          priorAuthenticationData: priorAuthenticationData
          purchaseDate: null
          recurringFrequency: 4145.193469080948
          shipIndicator: "01"
          paymentAccountAgeDate: null
          browserColorDepth: "1"
          priorReference: priorReference
          browserJavaEnabled: true
          preOrderPurchaseIndicator: "01"
          giftCardCount: 20.865805625422755
          sdkEphemPubKey: sdkEphemPubKey
          deliveryTimeframe: "01"
          recurringExpiry: null
          deliveryEmailAddress: deliveryEmailAddress
          cardHolderAuthenticationData: cardHolderAuthenticationData
          cardholderAuthenticationMethod: "01"
          browserScreenHeight: 7.386281948385884
          homePhoneCountryPrefix: homePhoneCountryPrefix
          addCardAttemptsDay: 2.3021358869347655
          purchaseCountSixMonths: 7.061401241503109
          sdkTransID: sdkTransID
          mobilePhoneNumber: mobilePhoneNumber
          cardholderAccountAgeIndicator: "01"
          exemptionIndicator: "01"
          sdkMaxTimeout: 5.148941590985417
          purchaseInstalData: 929.2841355444712
          cardholderAccountPasswordChangeIndicator: "01"
          browserUserAgent: browserUserAgent
          authenticationIndicator: "01"
          cardholderAccountLastPasswordChange: null
          reorderItemsIndicator: "01"
          shippingAddressUsageIndicator: "01"
          browserScreenWidth: 1.2315135367772556
          suspiciousAccountActivityIndicator: "01"
        items:
        - identification: identification
          quantity: 0.8008281904610115
          extraData:
            key: extraData
          price: 6.027456183070403
          name: name
          description: description
          currency: currency
        - identification: identification
          quantity: 0.8008281904610115
          extraData:
            key: extraData
          price: 6.027456183070403
          name: name
          description: description
          currency: currency
        additionalId2: additionalId2
        customer:
          lastName: lastName
          shippingCompany: shippingCompany
          shippingCity: shippingCity
          gender: M
          extraData:
            key: extraData
          shippingPostcode: shippingPostcode
          shippingAddress2: shippingAddress2
          shippingAddress1: shippingAddress1
          billingAddress2: billingAddress2
          billingAddress1: billingAddress1
          identification: identification
          shippingCountry: shippingCountry
          billingCountry: billingCountry
          company: company
          email: email
          shippingLastName: shippingLastName
          ipAddress: ipAddress
          shippingPhone: shippingPhone
          billingState: billingState
          birthDate: null
          firstName: firstName
          emailVerified: true
          nationalId: nationalId
          shippingFirstName: shippingFirstName
          paymentData: null
          shippingState: shippingState
          billingPostcode: billingPostcode
          billingCity: billingCity
          billingPhone: billingPhone
      properties:
        merchantTransactionId:
          maxLength: 50
          minLength: 1
          type: string
        additionalId1:
          maxLength: 50
          minLength: 1
          type: string
        additionalId2:
          maxLength: 50
          minLength: 1
          type: string
        extraData:
          additionalProperties:
            type: string
          type: object
        merchantMetaData:
          maxLength: 255
          type: string
        referenceUuid:
          maxLength: 50
          minLength: 1
          type: string
        amount:
          pattern: "^(([0-9]+)|([0-9]+\\.[0-9]{1,3}))$"
          type: string
        currency:
          pattern: "^[A-Z]{3}$"
          type: string
        successUrl:
          format: uri
          maxLength: 512
          type: string
        cancelUrl:
          format: uri
          maxLength: 512
          type: string
        errorUrl:
          format: uri
          maxLength: 512
          type: string
        callbackUrl:
          format: uri
          maxLength: 512
          type: string
        transactionToken:
          type: string
        description:
          maxLength: 255
          type: string
        items:
          items:
            $ref: '#/components/schemas/Items_inner'
          type: array
        splits:
          items:
            $ref: '#/components/schemas/Split'
          type: array
        withRegister:
          type: boolean
        transactionIndicator:
          enum:
          - SINGLE
          - INITIAL
          - RECURRING
          - CARDONFILE
          - CARDONFILE-MERCHANT-INITIATED
          - MOTO
          type: string
        customer:
          $ref: '#/components/schemas/Customer'
        schedule:
          $ref: '#/components/schemas/Schedule'
        customerProfileData:
          $ref: '#/components/schemas/CustomerProfileData'
        threeDSecureData:
          $ref: '#/components/schemas/ThreeDSecureData'
        language:
          maxLength: 2
          minLength: 2
          type: string
      required:
      - amount
      - currency
      - merchantTransactionId
      type: object
    IncrementalAuthorization:
      additionalProperties: false
      example:
        additionalId1: additionalId1
        amount: amount
        extraData:
          key: extraData
        successUrl: https://openapi-generator.tech
        description: description
        language: language
        referenceUuid: referenceUuid
        transactionIndicator: SINGLE
        merchantMetaData: merchantMetaData
        errorUrl: https://openapi-generator.tech
        cancelUrl: https://openapi-generator.tech
        merchantTransactionId: merchantTransactionId
        currency: currency
        callbackUrl: https://openapi-generator.tech
        items:
        - identification: identification
          quantity: 0.8008281904610115
          extraData:
            key: extraData
          price: 6.027456183070403
          name: name
          description: description
          currency: currency
        - identification: identification
          quantity: 0.8008281904610115
          extraData:
            key: extraData
          price: 6.027456183070403
          name: name
          description: description
          currency: currency
        additionalId2: additionalId2
      properties:
        merchantTransactionId:
          maxLength: 50
          minLength: 1
          type: string
        referenceUuid:
          maxLength: 50
          minLength: 1
          type: string
        additionalId1:
          maxLength: 50
          minLength: 1
          type: string
        additionalId2:
          maxLength: 50
          minLength: 1
          type: string
        extraData:
          additionalProperties:
            type: string
          type: object
        merchantMetaData:
          maxLength: 255
          type: string
        amount:
          pattern: "^(([0-9]+)|([0-9]+\\.[0-9]{1,3}))$"
          type: string
        currency:
          pattern: "^[A-Z]{3}$"
          type: string
        successUrl:
          format: uri
          maxLength: 512
          type: string
        cancelUrl:
          format: uri
          maxLength: 512
          type: string
        errorUrl:
          format: uri
          maxLength: 512
          type: string
        callbackUrl:
          format: uri
          maxLength: 512
          type: string
        description:
          maxLength: 255
          type: string
        items:
          items:
            $ref: '#/components/schemas/Items_inner'
          type: array
        transactionIndicator:
          enum:
          - SINGLE
          - INITIAL
          - RECURRING
          - CARDONFILE
          - CARDONFILE-MERCHANT-INITIATED
          - MOTO
          type: string
        language:
          maxLength: 2
          minLength: 2
          type: string
      required:
      - amount
      - currency
      - merchantTransactionId
      - referenceUuid
      type: object
    Capture:
      additionalProperties: false
      example:
        additionalId1: additionalId1
        amount: amount
        splits:
        - amount: 0.8008281904610115
          identification: identification
          sellerMerchantGuid: sellerMerchantGuid
          sellerMerchantExternalId: sellerMerchantExternalId
          currency: currency
          commisionFee:
            amount: 6.027456183070403
            currency: currency
        - amount: 0.8008281904610115
          identification: identification
          sellerMerchantGuid: sellerMerchantGuid
          sellerMerchantExternalId: sellerMerchantExternalId
          currency: currency
          commisionFee:
            amount: 6.027456183070403
            currency: currency
        extraData:
          key: extraData
        merchantTransactionId: merchantTransactionId
        currency: currency
        referenceUuid: referenceUuid
        items:
        - identification: identification
          quantity: 0.8008281904610115
          extraData:
            key: extraData
          price: 6.027456183070403
          name: name
          description: description
          currency: currency
        - identification: identification
          quantity: 0.8008281904610115
          extraData:
            key: extraData
          price: 6.027456183070403
          name: name
          description: description
          currency: currency
        additionalId2: additionalId2
        merchantMetaData: merchantMetaData
      properties:
        merchantTransactionId:
          maxLength: 50
          minLength: 1
          type: string
        additionalId1:
          maxLength: 50
          minLength: 1
          type: string
        additionalId2:
          maxLength: 50
          minLength: 1
          type: string
        extraData:
          additionalProperties:
            type: string
          type: object
        merchantMetaData:
          maxLength: 255
          type: string
        referenceUuid:
          maxLength: 50
          minLength: 1
          type: string
        amount:
          pattern: "^(([0-9]+)|([0-9]+\\.[0-9]{1,3}))$"
          type: string
        currency:
          pattern: "^[A-Z]{3}$"
          type: string
        items:
          items:
            $ref: '#/components/schemas/Items_inner'
          type: array
        splits:
          items:
            $ref: '#/components/schemas/Split'
          type: array
      required:
      - amount
      - currency
      - merchantTransactionId
      - referenceUuid
      type: object
    Void:
      additionalProperties: false
      properties:
        merchantTransactionId:
          maxLength: 50
          minLength: 1
          type: string
        additionalId1:
          maxLength: 50
          minLength: 1
          type: string
        additionalId2:
          maxLength: 50
          minLength: 1
          type: string
        extraData:
          additionalProperties:
            type: string
          type: object
        merchantMetaData:
          maxLength: 255
          type: string
        referenceUuid:
          maxLength: 50
          minLength: 1
          type: string
      required:
      - merchantTransactionId
      - referenceUuid
      type: object
    Register:
      additionalProperties: false
      example:
        additionalId1: additionalId1
        transactionToken: transactionToken
        extraData:
          key: extraData
        customerProfileData:
          profileGuid: profileGuid
          customerIdentification: customerIdentification
          markAsPreferred: true
        successUrl: https://openapi-generator.tech
        description: description
        language: language
        merchantMetaData: merchantMetaData
        errorUrl: https://openapi-generator.tech
        schedule:
          amount: amount
          startDateTime: null
          currency: currency
          periodLength: 0
          periodUnit: null
          merchantMetaData: merchantMetaData
        cancelUrl: https://openapi-generator.tech
        merchantTransactionId: merchantTransactionId
        callbackUrl: https://openapi-generator.tech
        threeDSecureData:
          homePhoneNumber: homePhoneNumber
          giftCardAmount: 3.616076749251911
          cardholderAccountDate: null
          billingAddressLine3: billingAddressLine3
          channel: "01"
          cardholderAccountType: "01"
          "3dsecure": null
          mobilePhoneCountryPrefix: mobilePhoneCountryPrefix
          cardholderAuthenticationDateTime: null
          paymentAccountAgeIndicator: "01"
          browserAcceptHeader: browserAcceptHeader
          transactionActivityYear: 5.637376656633329
          priorAuthenticationDateTime: null
          sdkReferenceNumber: sdkReferenceNumber
          workPhoneNumber: workPhoneNumber
          sdkAppID: sdkAppID
          shippingAddressLine3: shippingAddressLine3
          browserChallengeWindowSize: "01"
          transactionActivityDay: 5.962133916683182
          sdkUiType: sdkUiType
          browserLanguage: browserLanguage
          sdkInterface: "01"
          billingShippingAddressMatch: "Y"
          preOrderDate: null
          sdkEncData: sdkEncData
          cardholderAccountLastChange: null
          browserTimezone: -7949.913528851714
          shippingNameEqualIndicator: "01"
          cardholderAccountChangeIndicator: "01"
          transType: "01"
          challengeIndicator: "01"
          priorAuthenticationMethod: "01"
          workPhoneCountryPrefix: workPhoneCountryPrefix
          shippingAddressFirstUsage: null
          browserIpAddress: browserIpAddress
          giftCardCurrency: giftCardCurrency
          threeRIIndicator: "01"
          priorAuthenticationData: priorAuthenticationData
          purchaseDate: null
          recurringFrequency: 4145.193469080948
          shipIndicator: "01"
          paymentAccountAgeDate: null
          browserColorDepth: "1"
          priorReference: priorReference
          browserJavaEnabled: true
          preOrderPurchaseIndicator: "01"
          giftCardCount: 20.865805625422755
          sdkEphemPubKey: sdkEphemPubKey
          deliveryTimeframe: "01"
          recurringExpiry: null
          deliveryEmailAddress: deliveryEmailAddress
          cardHolderAuthenticationData: cardHolderAuthenticationData
          cardholderAuthenticationMethod: "01"
          browserScreenHeight: 7.386281948385884
          homePhoneCountryPrefix: homePhoneCountryPrefix
          addCardAttemptsDay: 2.3021358869347655
          purchaseCountSixMonths: 7.061401241503109
          sdkTransID: sdkTransID
          mobilePhoneNumber: mobilePhoneNumber
          cardholderAccountAgeIndicator: "01"
          exemptionIndicator: "01"
          sdkMaxTimeout: 5.148941590985417
          purchaseInstalData: 929.2841355444712
          cardholderAccountPasswordChangeIndicator: "01"
          browserUserAgent: browserUserAgent
          authenticationIndicator: "01"
          cardholderAccountLastPasswordChange: null
          reorderItemsIndicator: "01"
          shippingAddressUsageIndicator: "01"
          browserScreenWidth: 1.2315135367772556
          suspiciousAccountActivityIndicator: "01"
        additionalId2: additionalId2
        customer:
          lastName: lastName
          shippingCompany: shippingCompany
          shippingCity: shippingCity
          gender: M
          extraData:
            key: extraData
          shippingPostcode: shippingPostcode
          shippingAddress2: shippingAddress2
          shippingAddress1: shippingAddress1
          billingAddress2: billingAddress2
          billingAddress1: billingAddress1
          identification: identification
          shippingCountry: shippingCountry
          billingCountry: billingCountry
          company: company
          email: email
          shippingLastName: shippingLastName
          ipAddress: ipAddress
          shippingPhone: shippingPhone
          billingState: billingState
          birthDate: null
          firstName: firstName
          emailVerified: true
          nationalId: nationalId
          shippingFirstName: shippingFirstName
          paymentData: null
          shippingState: shippingState
          billingPostcode: billingPostcode
          billingCity: billingCity
          billingPhone: billingPhone
      properties:
        merchantTransactionId:
          maxLength: 50
          minLength: 1
          type: string
        additionalId1:
          maxLength: 50
          minLength: 1
          type: string
        additionalId2:
          maxLength: 50
          minLength: 1
          type: string
        extraData:
          additionalProperties:
            type: string
          type: object
        merchantMetaData:
          maxLength: 255
          type: string
        successUrl:
          format: uri
          maxLength: 512
          type: string
        cancelUrl:
          format: uri
          maxLength: 512
          type: string
        errorUrl:
          format: uri
          maxLength: 512
          type: string
        callbackUrl:
          format: uri
          maxLength: 512
          type: string
        transactionToken:
          type: string
        description:
          maxLength: 255
          type: string
        customer:
          $ref: '#/components/schemas/Customer'
        schedule:
          $ref: '#/components/schemas/Schedule'
        customerProfileData:
          $ref: '#/components/schemas/CustomerProfileData'
        threeDSecureData:
          $ref: '#/components/schemas/ThreeDSecureData'
        language:
          maxLength: 2
          minLength: 2
          type: string
      required:
      - merchantTransactionId
      type: object
    Deregister:
      additionalProperties: false
      example:
        additionalId1: additionalId1
        extraData:
          key: extraData
        merchantTransactionId: merchantTransactionId
        referenceUuid: referenceUuid
        additionalId2: additionalId2
        merchantMetaData: merchantMetaData
      properties:
        merchantTransactionId:
          maxLength: 50
          minLength: 1
          type: string
        additionalId1:
          maxLength: 50
          minLength: 1
          type: string
        additionalId2:
          maxLength: 50
          minLength: 1
          type: string
        extraData:
          additionalProperties:
            type: string
          type: object
        merchantMetaData:
          maxLength: 255
          type: string
        referenceUuid:
          maxLength: 50
          minLength: 1
          type: string
      required:
      - merchantTransactionId
      - referenceUuid
      type: object
    Refund:
      additionalProperties: false
      example:
        additionalId1: additionalId1
        transactionToken: transactionToken
        amount: amount
        splits:
        - amount: 0.8008281904610115
          identification: identification
          sellerMerchantGuid: sellerMerchantGuid
          sellerMerchantExternalId: sellerMerchantExternalId
          currency: currency
          commisionFee:
            amount: 6.027456183070403
            currency: currency
        - amount: 0.8008281904610115
          identification: identification
          sellerMerchantGuid: sellerMerchantGuid
          sellerMerchantExternalId: sellerMerchantExternalId
          currency: currency
          commisionFee:
            amount: 6.027456183070403
            currency: currency
        extraData:
          key: extraData
        description: description
        referenceUuid: referenceUuid
        merchantMetaData: merchantMetaData
        merchantTransactionId: merchantTransactionId
        currency: currency
        callbackUrl: callbackUrl
        items:
        - identification: identification
          quantity: 0.8008281904610115
          extraData:
            key: extraData
          price: 6.027456183070403
          name: name
          description: description
          currency: currency
        - identification: identification
          quantity: 0.8008281904610115
          extraData:
            key: extraData
          price: 6.027456183070403
          name: name
          description: description
          currency: currency
        additionalId2: additionalId2
      properties:
        merchantTransactionId:
          maxLength: 50
          minLength: 1
          type: string
        additionalId1:
          maxLength: 50
          minLength: 1
          type: string
        additionalId2:
          maxLength: 50
          minLength: 1
          type: string
        extraData:
          additionalProperties:
            type: string
          type: object
        merchantMetaData:
          maxLength: 255
          type: string
        referenceUuid:
          maxLength: 50
          minLength: 1
          type: string
        amount:
          pattern: "^(([0-9]+)|([0-9]+\\.[0-9]{1,3}))$"
          type: string
        currency:
          pattern: "^[A-Z]{3}$"
          type: string
        callbackUrl:
          maxLength: 255
          type: string
        transactionToken:
          type: string
        description:
          maxLength: 255
          type: string
        items:
          items:
            $ref: '#/components/schemas/Items_inner'
          type: array
        splits:
          items:
            $ref: '#/components/schemas/Split'
          type: array
      required:
      - amount
      - currency
      - merchantTransactionId
      - referenceUuid
      type: object
    Payout:
      additionalProperties: false
      example:
        additionalId1: additionalId1
        transactionToken: transactionToken
        amount: amount
        splits:
        - amount: 0.8008281904610115
          identification: identification
          sellerMerchantGuid: sellerMerchantGuid
          sellerMerchantExternalId: sellerMerchantExternalId
          currency: currency
          commisionFee:
            amount: 6.027456183070403
            currency: currency
        - amount: 0.8008281904610115
          identification: identification
          sellerMerchantGuid: sellerMerchantGuid
          sellerMerchantExternalId: sellerMerchantExternalId
          currency: currency
          commisionFee:
            amount: 6.027456183070403
            currency: currency
        extraData:
          key: extraData
        successUrl: https://openapi-generator.tech
        description: description
        language: language
        referenceUuid: referenceUuid
        merchantMetaData: merchantMetaData
        errorUrl: https://openapi-generator.tech
        cancelUrl: https://openapi-generator.tech
        merchantTransactionId: merchantTransactionId
        currency: currency
        callbackUrl: https://openapi-generator.tech
        items:
        - identification: identification
          quantity: 0.8008281904610115
          extraData:
            key: extraData
          price: 6.027456183070403
          name: name
          description: description
          currency: currency
        - identification: identification
          quantity: 0.8008281904610115
          extraData:
            key: extraData
          price: 6.027456183070403
          name: name
          description: description
          currency: currency
        additionalId2: additionalId2
        customer:
          lastName: lastName
          shippingCompany: shippingCompany
          shippingCity: shippingCity
          gender: M
          extraData:
            key: extraData
          shippingPostcode: shippingPostcode
          shippingAddress2: shippingAddress2
          shippingAddress1: shippingAddress1
          billingAddress2: billingAddress2
          billingAddress1: billingAddress1
          identification: identification
          shippingCountry: shippingCountry
          billingCountry: billingCountry
          company: company
          email: email
          shippingLastName: shippingLastName
          ipAddress: ipAddress
          shippingPhone: shippingPhone
          billingState: billingState
          birthDate: null
          firstName: firstName
          emailVerified: true
          nationalId: nationalId
          shippingFirstName: shippingFirstName
          paymentData: null
          shippingState: shippingState
          billingPostcode: billingPostcode
          billingCity: billingCity
          billingPhone: billingPhone
      properties:
        merchantTransactionId:
          maxLength: 50
          minLength: 1
          type: string
        additionalId1:
          maxLength: 50
          minLength: 1
          type: string
        additionalId2:
          maxLength: 50
          minLength: 1
          type: string
        extraData:
          additionalProperties:
            type: string
          type: object
        merchantMetaData:
          maxLength: 255
          type: string
        referenceUuid:
          maxLength: 50
          minLength: 1
          type: string
        amount:
          pattern: "^(([0-9]+)|([0-9]+\\.[0-9]{1,3}))$"
          type: string
        currency:
          pattern: "^[A-Z]{3}$"
          type: string
        successUrl:
          format: uri
          maxLength: 512
[...]
